@use url("main.css");

:root{
	--darkerGlass : rgba(200, 200, 200, 0.8);
		--darkGlass : rgba(250, 250, 250, .85);
		--mediumGlass: rgba(225, 225, 225, 0.75);
		--lightGlass: rgba(250, 250, 250, 0.65);
		--primaryColor: rgb(61, 133, 80);
		--secondaryColor: rgb(55, 163, 84);
		--glassBorder: rgba(250,250,250,0.5);
}

.product{
	height: 12rem;
	width: 96%;
	margin-left: 2vw;
	background-color: var(--mediumGlass);
	border-radius: 2rem;
	margin-top: 1rem;
	/*background-color: red;*/
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-style: solid;
	border-color: var(--glassBorder);
	border-width: 1px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	/*box-shadow: 0 0 0.8rem var(--darkerGlass);*/
}

img{
	height: 10rem;
	width: 10rem;
	margin-left: 2rem;
	margin-top: 1rem;
	left: 2rem;
	top: 1rem;
	border-width: 0;
	border-radius: 100%;
	background-color: red;
	position: relative;
}

.product h2{
	margin-left: 16rem;
	top: -9rem;
	font-size: 2rem;
	position: relative;
}

.product p{
	margin-left: 16rem;
	top: -8rem;
	width: 80%;
	font-size: 1.2rem;
	position: relative;
}