.titleBox{
	background-color: rgb(38, 38, 38);
	background-color: rgba(38, 38, 38, .65);
  width: 100%;
  height: 4rem;
  top: 0;
  padding: 0px;
  display: flex;
  z-index: 998;
  position: fixed;
	left: 0;
}

.leftBox{
	width: 40%;
	height: 75%;
  float: left;
	background-color: red;
	margin: 0px;
	padding: 0px;
}

.rightBox{
	width: 60%;
	height: 75%;
  float: left;
	background-color: blue;
	margin: 0px;
	padding: 0px;
}

.floatContainer{
	margin: 0px;
	padding: 0px;
	margin-bottom: 2.5rem;
	margin-top: 4rem;
	height: 60rem;
}

html, body{
    height: 100%;
		background-color: #1f1f1f;
}

.footer{
	background-color: #292929;
  width: 100%;
  height: 2.5rem;
  padding: 0px;
  display: flex;
  font-size: 20px;
  font-family: helvetica;
  color: white;
	position: absolute;
  z-index: 998;
  bottom: 0;
}

.pageContainer{
	position: relative;
  min-height: 100vh;
}

#headerName{
	color: white;
	font-family: Mplus2pReg;
	font-size: 3rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	text-decoration: none;
	opacity: 100;
}

@font-face{
	font-family: Mplus2pReg;
	src:url(fonts/mplus-2p-regular.ttf);
}

@font-face{
	font-family: Mplus2pLi;
	src:url(fonts/mplus-2p-light.ttf);
}