html, body{
    height: 100%;
		background-color: #1f1f1f;
		--darkerGlass : rgba(30, 30, 30, 0.8);
		--darkGlass : rgba(18, 18, 18, .65);
		--mediumGlass: rgba(30, 30, 30, 0.8);
		--lightGlass: ;
		--primaryColor: rgb(171, 32, 22);
		--secondaryColor: rgb(163, 38, 146);
}

.titleBox{
	background-color: var(--darkGlass);
  width: 100%;
  height: 4rem;
  top: 0;
  padding: 0px;
  display: flex;
  z-index: 998;
  position: fixed;
	left: 0;
	overflow: hidden;
	backdrop-filter: blur(5px);
	border-style: none;
	border-bottom-style: solid;
	border-color: var(--darkerGlass);
	border-width: 1px;
}

.leftBox{
	width: 40%;
	height: 37rem;
  float: left;
	background-color: var(--mediumGlass);
	margin: 0px;
	margin-top: -2px;
	position: absolute;
	z-index: 48;
	padding: 0px;
	backdrop-filter: blur(5px);
	border-style: solid;
	border-left-style: none;
	border-right-style: solid;
	border-color: var(--darkGlass);
	border-width: 1px;
	box-shadow: 0px 5px 8px var(--darkerGlass)
}

.rightBox{
	width: 65%;
	height: 37rem;
  float: left;
	background-color:rgb(45, 45, 45);
	margin: 0px;
	position: absolute;
	z-index: 44;
	margin-left: 35%;
	padding: 0px;
}

.floatContainer{
	margin: 0px;
	padding: 0px;
	margin-bottom: 2.5rem;
	height: 90rem;
}

.footer{
	background-color: rgb(15, 15, 15);
	background-color: var(--darkGlass);
  width: 100%;
  height: 2rem;
  padding: 0px;
  display: flex;
  font-size: 20px;
  font-family: Mplus2pLi;
  color: white;
  z-index: 998;
  bottom: 0;
}

.pageContainer{
	position: relative;
  min-height: 100vh;
}

#headerName{
	color: var(--primaryColor);
	font-family: Mplus2pReg;
	font-size: 3rem;
	margin-top: 0.7rem;
	margin-left: 0.5rem;
	text-decoration: none;
	opacity: 100;
	z-index: 999;
	filter: none;
}

@font-face{
	font-family: Mplus2pReg;
	src:url(fonts/mplus-2p-regular.ttf);
}

@font-face{
	font-family: Mplus2pLi;
	src:url(fonts/mplus-2p-light.ttf);
}

@font-face{
	font-family: Mplus1pLi;
	src:url(fonts/mplus-1p-light.ttf);
}

.headerItem{
	color: var(--primaryColor);
	font-family: Mplus2pLi;
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-left: 2.5rem;
	text-decoration: none;
	opacity: 100;
}

h2{
	color: white;
	font-family: Mplus2pReg;
	text-decoration: none;
	opacity: 100;
}

.leftBoxContent{
	margin-top: 6rem;
	margin-left: 2rem;
	font-family: Mplus2pReg;
}

.leftBoxContent h2{
	font-size: 2rem;
}

.leftBoxContent p{
	font-size: 1rem;
	margin-top: 2rem;
	margin-left: 1.2rem;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	opacity: 100;
	width: 80%;
	line-height: 1.2rem;
}

.footer a{
	margin-left: 2rem;
	font-size: 0.8rem;
	margin-top: 0.6rem;
	color: var(--primaryColor);
}

.sectionHeader{
	color: var(--primaryColor);
	top: 39rem;
	font-size: 3rem;
	font-family: Mplus2pReg;
	position: absolute;
	text-align: center;
	margin-left: 32%;
}