.titleBox{
	background-color: #293347;
    width: 100%;
    height: 4rem;
    top: 0;
    padding: 0px;
    display: flex;
    z-index: 998;
    position: fixed;
		left: 0;
}

.leftBox{
	width: 40%;
	height: 75%;
  float: left;
	background-color: red;
	margin: 0px;
	padding: 0px;
}

.rightBox{
	width: 60%;
	height: 75%;
  float: left;
	background-color: blue;
	margin: 0px;
	padding: 0px;
}

.floatContainer{
	margin: 0px;
	padding: 0px;
	margin-bottom: 2.5rem;
	margin-top: 4rem;
	height: 60rem;
}

html, body{
    height: 100%;
}

.footer{
	background-color: #293347;
  width: 100%;
  height: 2.5rem;
  padding: 0px;
  display: flex;
  font-size: 20px;
  font-family: helvetica;
  color: white;
	position: absolute;
  z-index: 998;
  bottom: 0;
}

.pageContainer{
	position: relative;
  min-height: 100vh;
}